@model PhoneContact

@{
    Layout = "_Layout";
}

<h2>title</h2>

@using (Html.BeginForm("UpdateContact", "PhoneContacts", FormMethod.Post))
{
    <input type="hidden" name="@nameof(Model.Id)" value="@Model.Id"/>
    <label>Name: <input type="text" name="@nameof(Model.Name)" value="@Model.Name"/></label>
    <label>Phone: <input type="text" name="@nameof(Model.Phone)" value="@Model.Phone"/></label>
    <button type="submit">Update</button>
}
