@model SQL.DAL.Models.PhoneContact
@{
    Layout = "GenericView.cshtml";
}

@section Header
{
    Remove contact
}

@section Footer
{
    Footer for delete page
}

    <p>Are you sure that you want to remove <b>@Model.Name @Model.Phone</b> ?</p>

    <form method="post" action="~/SqlContacts/RemoveSave">
        <input type="hidden" name="Id" value="@Model.Id" />
        <input type="hidden" name="Name" value="@Model.Name" />
        <input type="hidden" name="Phone" value="@Model.Phone" />
        <input type="submit" />
    </form>
